@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background: url(../assets/bg-min.webp) center;
  background-size: 100px;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  padding: 40px 0 60px;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0 30px;
  }
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin: 0;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  color: #fff;
}
.header__title-main {
  font-size: 64px;
}
@media (max-width: 992px) {
  .header__title-main {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .header__title-main {
    font-size: 36px;
  }
}
.header__title-addition {
  font-size: 40px;
}
@media (max-width: 992px) {
  .header__title-addition {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .header__title-addition {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .header__title-addition {
    font-size: 22px;
  }
}

.footer .container {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 2px solid #ffffff;
}
@media (max-width: 576px) {
  .footer .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.footer__disclaimer {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
@media (max-width: 576px) {
  .footer__disclaimer {
    font-size: 16px;
  }
}

.main-description {
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .main-description {
    margin: 0 0 20px;
  }
}
.main-description .container {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 992px) {
  .main-description .container {
    flex-direction: column;
  }
}
.main-description__figure {
  flex: 0 0 calc(50% - 10px);
  display: flex;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .main-description__figure {
    flex: 0 0 auto;
  }
}
.main-description__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.main-description__text {
  flex: 0 0 calc(50% - 10px);
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 992px) {
  .main-description__text {
    flex: 0 0 auto;
  }
}
@media (max-width: 576px) {
  .main-description__text {
    font-size: 16px;
  }
}

.token {
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .token {
    margin: 0 0 20px;
  }
}
.token__main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0 0 40px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: rgba(0, 34, 98, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
@media (max-width: 768px) {
  .token__main {
    gap: 12px;
    margin: 0 0 20px;
    border-radius: 12px;
  }
}
@media (max-width: 576px) {
  .token__main {
    padding: 12px 16px;
  }
}
.token__main-code {
  display: inline-block;
  max-width: calc(100% - 40px);
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
@media (max-width: 992px) {
  .token__main-code {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .token__main-code {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .token__main-code {
    font-size: 16px;
  }
}
.token__main-copy {
  display: inline-block;
  height: 32px;
  width: 32px;
  border: none;
  background: url(../assets/copy-icon.svg) center no-repeat;
  background-size: 32px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .token__main-copy {
    height: 26px;
    width: 26px;
    background-size: 26px;
  }
}
.token__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.buy-token {
  margin: 0 0 60px;
}
@media (max-width: 768px) {
  .buy-token {
    margin: 0 0 40px;
  }
}
.buy-token__title {
  margin: 0 0 40px;
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .buy-token__title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .buy-token__title {
    margin: 0 0 20px;
    font-size: 36px;
  }
}
.buy-token__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 992px) {
  .buy-token__wrapper {
    flex-direction: column;
  }
}
.buy-token__wrapper > * {
  flex: 0 0 calc(50% - 10px);
}
@media (max-width: 992px) {
  .buy-token__wrapper > * {
    flex: 0 1 auto;
  }
}
.buy-token__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.buy-token__list {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .buy-token__list {
    gap: 20px;
    width: 100%;
  }
}
.buy-token__list-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;
  padding-left: 108px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  background: url(../assets/star-icon.svg) center left 20px no-repeat;
  background-size: 64px;
}
@media (max-width: 992px) {
  .buy-token__list-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .buy-token__list-item {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .buy-token__list-item {
    padding-left: 80px;
    font-size: 20px;
    background-size: 40px;
  }
}
.buy-token__list-item-title {
  font-weight: 800;
}
.buy-token__list-item-text {
  font-weight: 600;
}

.social {
  margin: 0 0 60px;
}
@media (max-width: 768px) {
  .social {
    margin: 0 0 40px;
  }
}
.social__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .social__wrapper {
    margin: 0 0 20px;
    gap: 32px;
  }
}
@media (max-width: 576px) {
  .social__wrapper {
    gap: 14px;
  }
}
.social__link {
  flex: 0 0 auto;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  background-position: center;
  background-size: auto 64px;
  background-repeat: no-repeat;
  background-color: #cb0703;
  transition: all ease-in-out 0.2s;
}
@media (max-width: 768px) {
  .social__link {
    width: 90px;
    height: 90px;
    background-size: auto 40px;
  }
}
@media (max-width: 576px) {
  .social__link {
    width: 68px;
    height: 68px;
    background-size: auto 36px;
  }
}
.social__link:hover {
  background-color: #a70300;
}
.social__link:active {
  transform: scale(0.94);
}
.social__link_x {
  background-image: url(../assets/x-icon.svg);
}
.social__link_tg {
  background-image: url(../assets/tg-icon.svg);
}
.social__link_dextools {
  background-image: url(../assets/dextools-icon.svg);
}
.social__link_descreener {
  background-image: url(../assets/descreener-icon.svg);
}
.social__email {
  text-align: center;
}
.social__email-link {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .social__email-link {
    font-size: 22px;
  }
}