@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background: url(../assets/bg-min.webp) center;
  background-size: 100px;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  padding: 40px 0 60px;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0 30px;
  }
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin: 0;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  color: #fff;
}
.header__title-main {
  font-size: 64px;
}
@media (max-width: 992px) {
  .header__title-main {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .header__title-main {
    font-size: 36px;
  }
}
.header__title-addition {
  font-size: 40px;
}
@media (max-width: 992px) {
  .header__title-addition {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .header__title-addition {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .header__title-addition {
    font-size: 22px;
  }
}

.main-description {
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .main-description {
    margin: 0 0 20px;
  }
}
.main-description .container {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 992px) {
  .main-description .container {
    flex-direction: column;
  }
}
.main-description__figure {
  flex: 0 0 calc(50% - 10px);
  display: flex;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .main-description__figure {
    flex: 0 0 auto;
  }
}
.main-description__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.main-description__text {
  flex: 0 0 calc(50% - 10px);
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 992px) {
  .main-description__text {
    flex: 0 0 auto;
  }
}
@media (max-width: 576px) {
  .main-description__text {
    font-size: 16px;
  }
}

.token {
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .token {
    margin: 0 0 20px;
  }
}
.token__main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0 0 40px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: rgba(0, 34, 98, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
@media (max-width: 768px) {
  .token__main {
    gap: 12px;
    margin: 0 0 20px;
    border-radius: 12px;
  }
}
@media (max-width: 576px) {
  .token__main {
    padding: 12px 16px;
  }
}
.token__main-code {
  display: inline-block;
  max-width: calc(100% - 40px);
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
@media (max-width: 992px) {
  .token__main-code {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .token__main-code {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .token__main-code {
    font-size: 16px;
  }
}
.token__main-copy {
  display: inline-block;
  height: 32px;
  width: 32px;
  border: none;
  background: url(../assets/copy-icon.svg) center no-repeat;
  background-size: 32px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .token__main-copy {
    height: 26px;
    width: 26px;
    background-size: 26px;
  }
}
.token__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}