.buy-token {
  margin: 0 0 60px;

  @include tablet {
    margin: 0 0 40px;
  }

  &__title {
    margin: 0 0 40px;
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    color: #fff;

    @include laptop {
      font-size: 48px;
    }

    @include tablet {
      margin: 0 0 20px;
      font-size: 36px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    @include laptop {
      flex-direction: column;
    }

    & > * {
      flex: 0 0 calc(50% - 10px);

      @include laptop {
        flex: 0 1 auto;
      }
    }
  }

  &__figure {
    &-image {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include laptop {
      gap: 20px;
      width: 100%;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 20px;
      padding-left: 108px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 32px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 20px;
      background: url(../assets/star-icon.svg) center left 20px no-repeat;
      background-size: 64px;

      @include laptop {
        width: 100%;
      }

      @include tablet {
        font-size: 28px;
      }

      @include mobile {
        padding-left: 80px;
        font-size: 20px;
        background-size: 40px;
      }

      &-title {
        font-weight: 800;
      }

      &-text {
        font-weight: 600;
      }
    }
  }
}
